body {
  background-image: url("../img/roboteye.jpg");
  background-position: top;
  background-color: #0E0A0E;
  color: #FCF3A6;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 3px 3px 4px #FF1513;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 2px #FF1513;
}

hr {
  background-color: #8C1614;
  text-shadow: 1px 1px 2px #FF1513;
}

label {
  font-size: 1.5em;
}

.card {
  width: 100%;
  margin: auto;
  color: #0E0A0E;
}

.card-title {
  font-size: 1.5em;
  color: #0E0A0E;
}

.card-text {
  color: #0E0A0E;
}

.form-control {
  color: #0E0A0E;
  font-size: 1.2em;
}

.error {
  color: #FF1513;
}

.btn {
  color: #0E0A0E;
  background-color: #FF1513;
  font-size: 1.2em;
}

.attention {
  color: #FF1513;
}
.evil-body {
  background-image: url("../img/robotdevil.jpg");
  background-position: top;
  background-color: #0E0A0E;
  color: #FF1513;
  font-family: 'Almendra Display', cursive;
  font-size: 1.5em;
}

.evil-h1 {
  font-family: 'UnifrakturCook', cursive;
  color: #FF1513;
  text-shadow: 3px 3px 4px #7D7852;
  font-size: 2em;
}

.evil-h4 {
  font-family: 'MedievalSharp', cursive;
  color: #FF1513;
  text-shadow: 1px 1px 2px #7D7852;
  font-size: 1.3em;
  font-weight: bolder;
}
